In [1]:
import boto3
import json
import time
import getpass
import pandas as pd
import configparser

In [2]:
%load_ext sql

In [3]:
KEY = getpass.getpass(prompt = 'Enter the AWS Access ID:')
SECRET = getpass.getpass(prompt = 'Enter the AWS Secret Access Key:')

Enter the AWS Access ID:········
Enter the AWS Secret Access Key:········

*'getpass' functionality referred from* https://www.geeksforgeeks.org/python-getpass-module/

# Load dwh Params from a file

In [4]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("CLUSTER","DB_NAME")
DWH_DB_USER            = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD        = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT               = config.get("CLUSTER","Db_PORT")

DWH_IAM_ROLE_NAME      = config.get("IAM_ROLE", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Passw0rd
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

# Create clients to access AWS resources

In [5]:
s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

**Check out the sample data sources on S3**

In [6]:
sampleDbBucket =  s3.Bucket("udacity-dend")
for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

# IAM Role

In [7]:
from botocore.exceptions import ClientError

#Create the role 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhRole already exists.
Attaching Policy
Get the IAM role ARN
arn:aws:iam::471112581117:role/dwhRole

# Redshift Cluster

**Create the Redshift Cluster**

In [8]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

**Check the Status until the cluster is available**

In [12]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.c40ylbcwxi7j.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-049867c7ea2937f08
7,NumberOfNodes,4

**Making a note of the DWH_ENDPOINT and DWH_ROLE_ARN**

In [13]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
DWH_ROLE_ARN = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.c40ylbcwxi7j.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::471112581117:role/dwhRole

**Update the config file with DWH_ENDPOINT and DWH_ROLE_ARN**

In [14]:
config.set("IAM_ROLE","ARN", DWH_ROLE_ARN)
with open('dwh.cfg', "w+") as configfile:
    config.write(configfile)
    
config.set("CLUSTER","HOST", DWH_ENDPOINT)
with open('dwh.cfg', "w+") as configfile:
    config.write(configfile)

# Establishing a connection to the cluster

In [15]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.c40ylbcwxi7j.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

# ETL

**Create Staging, fact and dimension tables**

In [16]:
!python3 create_tables.py

**ETL**

In [17]:
!python3 etl.py

# Checking the row count and table entries for each table

**STAGING_EVENTS**

In [18]:
%sql SELECT COUNT(*) FROM staging_events;

 * postgresql://dwhuser:***@dwhcluster.c40ylbcwxi7j.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [19]:
%sql SELECT * FROM staging_events LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c40ylbcwxi7j.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('N.E.R.D. FEATURING MALICE', 'Logged In', 'Jayden', 'M', 0, 'Fox', 288.9922, 'free', 'New Orleans-Metairie, LA', 'PUT', 'NextSong', 1541033612796.0, 184, 'Am I High (Feat. Malice)', 200, 1541121934796, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 101),
 (None, 'Logged In', 'Stefany', 'F', 0, 'White', None, 'free', 'Lubbock, TX', 'GET', 'Home', 1540708070796.0, 82, None, 200, 1541122176796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Death Cab for Cutie', 'Logged In', 'Stefany', 'F', 1, 'White', 216.42404, 'free', 'Lubbock, TX', 'PUT', 'NextSong', 1540708070796.0, 82, 'A Lack Of Color (Album Version)', 200, 1541122241796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Tracy Gang Pussy', 'Logged In', 'Stefany', 'F', 2, 'White', 221.33506, 'free', 'Lubbock, TX', 'PUT', 'NextSong', 1540708070796.0, 82, 'I Have A Wish', 200, 1541122457796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Skillet', 'Logged In', 'Kevin', 'M', 0, 'Arellano', 178.02404, 'free', 'Harrisburg-Carlisle, PA', 'PUT', 'NextSong', 1540006905796.0, 153, 'Monster (Album Version)', 200, 1541126568796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 66)]

**STAGING_SONGS**

In [20]:
%sql SELECT COUNT(*) FROM staging_songs;

 * postgresql://dwhuser:***@dwhcluster.c40ylbcwxi7j.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [21]:
%sql SELECT * FROM staging_songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c40ylbcwxi7j.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1, 'AR35RMH1187FB4A865', -22.97673, -43.19508, 'Rio de Janeiro', 'Eumir Deodato', 'SOHZIGH12A6D4F8D14', 'A Grande Cacada', 111.28118, 0),
 (1, 'ARXDGV71187B990B08', 34.35919, -90.27585, 'Darling, MS', 'Super Chikan', 'SOXQUAN12A8C14237B', 'Big Boy Now', 212.74077, 2000),
 (1, 'AR9AM2N1187B9AD2F1', 53.4796, -2.24881, 'Manchester, England', 'Inspiral Carpets', 'SODDZAD12A6701DC4C', 'Commercial Reign', 283.76771, 1990),
 (1, 'AR1FMBJ1187B992A46', None, None, '', 'Melotron', 'SOFACJY12AB01897BE', 'Menschenfresser', 295.07873, 2005),
 (1, 'ARPN0Y61187B9ABAA0', 53.4796, -2.24881, 'Manchester, England', 'The Smiths', 'SOFVOQL12A6D4F7456', 'The Boy With The Thorn In His Side', 196.67546, 1985)]

**SONGPLAYS**

In [22]:
%sql SELECT COUNT(*) FROM songplays;

 * postgresql://dwhuser:***@dwhcluster.c40ylbcwxi7j.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [23]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c40ylbcwxi7j.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(42, datetime.datetime(2018, 11, 13, 20, 20, 44), 29, 'paid', 'SOKUAEP12A8C13BE19', 'ARLLWJQ1187B9B06A7', 556, 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (202, datetime.datetime(2018, 11, 26, 13, 42, 55), 88, 'paid', 'SOJHUQN12A6D4F8EDE', 'AR4OU721187FB4549D', 900, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (258, datetime.datetime(2018, 11, 13, 11, 46, 10), 50, 'free', 'SOBJDDA12A6BD53159', 'ARCS4GZ1187FB469EB', 430, 'New Haven-Milford, CT', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (22, datetime.datetime(2018, 11, 29, 20, 21, 41), 49, 'paid', 'SOABIXP12A8C135F75', 'AR15DJQ1187FB5910C', 1041, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (174, datetime.datetime(2018, 11, 5, 18, 13, 57), 73, 'paid', 'SOLZOBD12AB0185720', 'ARPDVPJ1187B9ADBE9', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

**USERS**

In [24]:
%sql SELECT COUNT(*) FROM users;

 * postgresql://dwhuser:***@dwhcluster.c40ylbcwxi7j.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

In [25]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c40ylbcwxi7j.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(83, 'Stefany', 'White', 'F', 'free'),
 (15, 'Lily', 'Koch', 'F', 'paid'),
 (23, 'Morris', 'Gilmore', 'M', 'free'),
 (42, 'Harper', 'Barrett', 'M', 'paid'),
 (28, 'Brantley', 'West', 'M', 'free')]

**SONGS**

In [26]:
%sql SELECT COUNT(*) FROM songs;

 * postgresql://dwhuser:***@dwhcluster.c40ylbcwxi7j.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [27]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c40ylbcwxi7j.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOOVJEF12A67ADE8D7', 'Long Time Ago', 'ARB8Q2P1187FB4D05D', 0, 557.45261),
 ('SOTUCYK12A8C13D64E', 'Ragga Airlines', 'ARLFHAF1187B993553', 0, 74.00444),
 ('SOPMAQH12A6D4F7F36', 'Modern Crusaders.', 'ARFOVF61187B9892CD', 0, 233.56036),
 ('SOBEQZL12A67ADE7E6', 'To Harvest The Storm', 'ARIMKO91187FB37DCE', 2004, 284.9171),
 ('SOHHANU12A58A77C66', 'The Czar: Usurper/Escape/Martyr/Spiral (Album Version)', 'ARMQHX71187B9890D3', 2009, 654.28853)]

**ARTISTS**

In [28]:
%sql SELECT COUNT(*) FROM artists;

 * postgresql://dwhuser:***@dwhcluster.c40ylbcwxi7j.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [29]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c40ylbcwxi7j.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARC9CYF1187FB40FF7', 'Parni Valjak', '', None, None),
 ('ARXM0CX1187B98FD56', 'Marc Anthony', 'New York, NY', 40.71455, -74.00712),
 ('ARJZGP31187B9ACB5B', 'Danzig', 'Hell, Alabama', None, None),
 ('AR4T2IF1187B9ADBB7', 'Billy Idol', '<a href="http://billyidol.net" onmousedown=\'UntrustedLink.bootstrap($(this), "fc44f8f60d13ab68c56b3c6709c6d670", event)\' target="_blank" rel="nofollow">http://billyidol.net</a>', 63.96027, 10.22442),
 ('ARBEBBY1187B9B43DB', 'Tom Petty', 'Gainesville, FL', None, None)]

**TIME**

In [30]:
%sql SELECT COUNT(*) FROM time;

 * postgresql://dwhuser:***@dwhcluster.c40ylbcwxi7j.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [31]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c40ylbcwxi7j.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 4, 19, 35, 15), 19, 4, 44, 11, 2018, '0'),
 (datetime.datetime(2018, 11, 9, 19, 57, 57), 19, 9, 45, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 5, 10, 18, 12), 10, 5, 45, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 19, 17, 41, 51), 17, 19, 47, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 21, 21, 17, 19), 21, 21, 47, 11, 2018, '3')]

# Example Query

**Make of list of most streamed songs in descending order**

In [32]:
%%sql
SELECT so.title AS song, count(song) AS streams 
FROM songplays sp 
JOIN songs so ON (so.song_id = sp.song_id) 
GROUP BY song
ORDER BY count(*) desc
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c40ylbcwxi7j.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[("You're The One", 37),
 ("I CAN'T GET STARTED", 9),
 ('Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 9),
 ("Nothin' On You [feat. Bruno Mars] (Album Version)", 8),
 ("Hey Daddy (Daddy's Home)", 6)]

**List the hours of day by the highest usage in descending order**

In [33]:
%%sql
SELECT extract(hour from sp.start_time) as hour, count(hour) AS usage
FROM songplays sp
GROUP BY hour
ORDER BY count(*) desc
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.c40ylbcwxi7j.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(17, 40), (18, 26), (15, 25), (16, 24), (8, 18)]

# Deleting the Cluster and IAM Role

**Cluster Deletion**

In [34]:
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.c40ylbcwxi7j.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2024, 4, 21, 12, 2, 47, 656000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-0de265ab85f1ed227',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-049867c7ea2937f08',
  'AvailabilityZone': 'us-west-2d',
  'PreferredMaintenanceWindow': 'sun:07:00-sun:07:30',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::471112581117:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': 'ecad1a8f-3fc3-45d1-8e9d-f8fbd5f32a2c',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'ecad1a8f-3fc3-45d1-8e9d-f8fbd5f32a2c',
   'content-type': 'text/xml',
   'content-length': '2882',
   'date': 'Sun, 21 Apr 2024 12:33:34 GMT'},
  'RetryAttempts': 0}}

**Deletion Progress**

In [35]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,deleting
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.c40ylbcwxi7j.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-049867c7ea2937f08
7,NumberOfNodes,4

**IAM Role Deletion**

In [36]:
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)

{'ResponseMetadata': {'RequestId': 'ce447bea-ad96-4126-8864-0c881559a696',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Sun, 21 Apr 2024 12:33:45 GMT',
   'x-amzn-requestid': 'ce447bea-ad96-4126-8864-0c881559a696',
   'content-type': 'text/xml',
   'content-length': '200'},
  'RetryAttempts': 0}}